@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #180033; /* Main background (lighter) */
  --secondary-color: #180033; /* Header (darker) */
  --text-light: #f5f5f5;
  --text-dark: #cfcfcf;
}

body {
  background-color: var(--primary-color);
  color: var(--text-light);
  font-family: 'Poppins', sans-serif;
}



h1, h2, h3 {
  font-weight: 700;
  letter-spacing: 1px;
}

.btn-primary {
  background-color: var(--secondary-color);
  color: white;
  padding: 12px 24px;
  border-radius: 6px;
  transition: all 0.3s ease-in-out;
}

.btn-primary:hover {
  background-color: #6600cc;
  transform: translateY(-2px);
}
